*~
.project
.classpath
.settings
.gradle
gradle.properties
*.iml
interactivespaces_docs/src/main/sphinx/conf.py
interactivespaces_docs/src/main/sphinx/interactivespaces.pyc
interactivespaces_docs/src/main/sphinx/javadoc.pyc
**/bin/
**/build/
**/dist/
**/msg_gen/
**/srv_gen/
**/gen/
**/test_output/
**/osgi_build/
**/target/


